/*song search*/
.song-search {
    background-color:#212121;
    height: auto;
    display: grid;
    place-items: center;
}

/* class search*/
.class-search {
    width: 400px;
    height: 100px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 0.2px;
    color: #212121;
    background-color: #e3ede3;
    border-color: #489fb5;
    border: #eee 1px solid;
    border-radius: 6px;
    box-shadow: 0 7px #1ed760;
    margin: 10px;
}

.button-create {
    border: #eee 1px solid;
    border-radius: 6px;
    margin: 40px;
}

