.song-form {
    color: #ccc;
}

.input-form {
    color: #666;
    display: block;
    width: 50%;
    margin-left: 300px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #a6f8c4;
    box-sizing: border-box;
    line-height: 1.5;
}

/*button action*/
.button-action {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size: 18px;
    margin-left: 12px;
    color: #212121;
    background-color: #ede7e3;
    border-color: #489fb5;
    border: #eee 1px solid;
    border-radius: 6px;
    box-shadow: 0 7px #1db954;
    margin-left: 10px;
}

.button-action:active {
    position: relative;
    box-shadow: none;
    background-color: #81b71a;
}