/*list title*/
.list-title {
  background-color: aliceblue;
}

.list-title h2 {
  margin: 10px;
}

/*list container*/
.list-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-left: 100px;
  margin-top: 30px;
}

/*button action*/
.button-action {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 12px;
  color: #212121;
  background-color: #ede7e3;
  border-color: #489fb5;
  border: #eee 1px solid;
  border-radius: 6px;
  box-shadow: 0 7px #1db954;
  margin: 10px;
}
.button-action:active {
  position: relative;
  box-shadow: none;
  background-color: #81b71a;
}

